# MySQL data
docker/mysql/data/

# Docker関連
docker-compose.override.yml

# Laravel
/vendor
/node_modules
/.env
/.env.*
src/.env.testing

# storage 配下
/storage/*.log
/storage/app/public/items/*
!/storage/app/public/items/.gitkeep

!/storage/app/public

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*