# MySQL data
docker/mysql/data/*
!docker/mysql/data/.gitkeep

# Docker関連
docker-compose.override.yml

# Laravel
/vendor
/node_modules
/src/.env
/src/.env.*
/src/.env.testing

# storage 配下
/storage/*.log
!src/storage/app/public
src/storage/app/public/chat_images/*
!src/storage/app/public/chat_images/.gitkeep
src/storage/app/public/dummy/*
!src/storage/app/public/dummy/.gitkeep
src/storage/app/public/items/*
!src/storage/app/public/items/.gitkeep
src/storage/app/public/profile_image/*
!src/storage/app/public/profile_image/.gitkeep

/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
/src/storage/logs/*