.register-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-form__group {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ラベル・入力欄を左揃え */
    margin-bottom: 15px;
}
.register-form__group label {
    font-weight: bold;
}
.register-form__group-input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.register-form__button {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.login-button {
    margin-top: 15px;
}

