.register-container {
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-form__group {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ラベル・入力欄を左揃え */
    margin-bottom: 15px;
    box-sizing: border-box;
}
.register-form__group label {
    font-weight: bold;
}
.register-form__group-input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.register-form__button {
    margin-top: 40px;
    width: 60%;
}
.login-button {
    margin-top: 15px;
}

/* タブレット幅用スタイル */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .register-form__group{
        width: 100%;
    }
    .register-form__button {
        width: 100%;
    }
}
