.register-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-form__group {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ラベル・入力欄を左揃え */
    margin-bottom: 10px;
}
.register-form__group label {
    font-weight: bold;
}
.register-form__group-input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.register-form__error {
    color: #ff6666;
    font-size: 12px;
}
.register-form__button {
    background-color: #ff6666;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    border-radius: 3px;
}
.register-form__button button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.login-container {
    margin-top: 15px;
}
.login-button {
    color: #8FC1E9;
    text-decoration: none;
}
