.profile-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
}
.profile__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}
.profile__image {
    background-color: #f0f0f0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__username {
    font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
}
.profile__edit-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ff6666;
    color: #ff6666;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.profile__edit-button a {
    color: #ff6666;
    text-decoration: none;
}

.item__header {
    width: 80vw;
    padding-left: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    border: 1px solid yellow;
}
.item__header a {
    color: #000;
    text-decoration: none;
}
.item__header h2 {
    margin: 0;
    font-size: 16px;
    line-height: 2;
}
.item__tab.active {
    color: #ff0000;
}
/* 水平線のスタイル */
.item__divider {
    width: 100vw;
    height: 1px; /* 線の太さ */
    border: none;
    background-color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    left: 0;
    margin-left: calc(-50vw + 50%);
}

.item-link {
    color: #000;
    text-decoration: none;
}
.item__main {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
}
.item-container {
    width: 150px;
    height: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid orange;
}
.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-name {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
