.profile-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}
.profile__image {
    background-color: #f0f0f0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile__username {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    margin-right: clamp(7px, 2vw, 40px);
    font: normal 700 clamp(24px, 5vw, 36px) "Inter", sans-serif;
}
.username {
    margin-bottom: auto; /* 上側に押し上げる */
}
.star-display {
    margin-top: auto; /* 下に寄せる */
    white-space: nowrap;
    display: inline-block;
    gap: 4px;
    font-size: 40px;
}
.filled {
    color: #FFF048;
}
.empty {
    color: #D9D9D9;
}

.item__header {
    width: 80vw;
    padding-left: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    gap: 50px;
}
.item__header a {
    color: #000;
    text-decoration: none;
}
.item__header h2 {
    margin: 0;
    line-height: 2;
    font: normal 700 clamp(16px, 5vw, 24px) "Inter", sans-serif;
}
.item__tab.active {
    color: #FF0000;
}
/* 水平線のスタイル */
.item__divider {
    width: 100vw;
    height: 1px; /* 線の太さ */
    border: none;
    background-color: #CCC;
    margin-top: 0;
    margin-bottom: 60px;
    left: 0;
    margin-left: calc(-50vw + 50%);
}

.item__main {
    width: 80vw;
    max-width: 1230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: start;
}
.item__main p {
    white-space: nowrap;  /* 折り返しを防ぐ */
    width: auto;
}
.item-link {
    color: #000;
    text-decoration: none;
}
.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    max-width: 290px;
    height: 310px;
    box-sizing: border-box;
    padding-left: 5px;
}
.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-name {
    width: 100%;
    text-align: left;
    font: normal 400 clamp(17px, 5vw, 25px) "Inter", sans-serif;
}
.unread-badge {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 2;
    top: 6px;
    left: 6px;
    background-color: #FF0000;
    color: white;
    font: normal 700 12px "Inter", sans-serif;
    border-radius: 50%;
}
