.profile__create-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile__image {
    display: flex;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;
}
.profile__image-preview {
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile__image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.upload-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ff6666;
    color: #ff6666;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.profile-form__group {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ラベル・入力欄を左揃え */
    margin-bottom: 30px;
}
.profile-form__group label {
    font-weight: bold;
}
.profile-form__group-input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.profile-form__error {
    color: #ff6666;
    font-size: 12px;
}
.profile-form__button {
    background-color: #ff6666;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    border-radius: 3px;
}
.profile-form__button button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
