html {
    overflow-y: scroll; /* 常にスクロールバーを表示 */
}
.header {
    background-color: #000;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 82px;
    padding: 0 20px;
    gap: 10px;
    display: flex;
    align-items: center;  /* 垂直位置 中央揃え */
    justify-content: space-between;  /* 水平方向 両端揃え */
    box-sizing: border-box;
}
.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    height: 30px;
}

/* ロゴ */
.header-left {
    justify-content: flex-start;
}
.header__logo {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/* 検索フォーム */
.header-center {
    justify-content: center;
}
.header__search {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header__search-input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    font: normal 700 clamp(14px, 5vw, 22px) "Inter", sans-serif;
}

/* ボタン類 */
.header-right {
    justify-content: flex-end;
    min-width: 150px;
    gap: 10px;
}
.header__login-button,
.header__logout-button,
.header__mypage-button {
    display: flex;
    align-items: center;
    line-height: normal;
    padding: 0;
    margin-right: 10px;
    background-color: transparent;
    color: #CCC;
    font: normal 400 clamp(16px, 2vw, 24px) "Inter", sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.2;
}
.header__sell-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding: 7px 12px;
    background-color: #FFF;
    color: #000;
    font: normal 400 clamp(12px, 1vw, 24px) "Inter", sans-serif;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.2;
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
/* 入力フォーム・グループ */
.form__group {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ラベル・入力欄を左揃え */
    margin-bottom: 40px;
    box-sizing: border-box;
    border: none;
}
/* 入力フォーム・ラベル */
.form__group label {
    font: normal 700 clamp(16px, 5vw, 24px) "Inter", sans-serif;
}
.form__group-input {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    font-size: clamp(16px, 5vw, 22px);
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}
/* フォーム送信用 背景赤色ボタン */
.form__red-button {
    width: 80%;
    height: 60px;
    background-color: #ff5555;
    color: #fff;
    font: normal 700 clamp(16px, 5vw, 26px) "Inter", sans-serif;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
/* 修正ボタン用 赤枠ボタン */
.edit__red-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    font: normal 700 clamp(18px, 5vw, 26px) "Inter", sans-serif;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
/* リンク用 青文字ボタン */
.blue-button {
    color: #0073CC;
    font: normal 400 clamp(14px, 5vw, 20px) "Inter", sans-serif;
    text-decoration: none;
    cursor: pointer;
}
/* バリデーションエラーメッセージ */
.error-message {
    color: #ff5555;
    font: normal 400 clamp(14px, 5vw, 20px) "Inter", sans-serif;
}

.content {
    width: 90vw;
    max-width: 1230px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content__title {
    margin-top: 96px;
    margin-bottom: 30px;
    font-size: 36px;
    font: bold 700 clamp(18px, 5vw, 24px) "Inter", sans-serif;
}

/* タブレット幅用スタイル */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .header {
        padding: 0 10px;
        gap: 5px;
    }
    .header__logo {
        width: 90%;
        height: auto;
    }
    .header__search {
        height: auto;
        width: 100%;
    }
    .header__search-input {
        font-size: clamp(12px, 2vw, 16px);
        padding: 6px;
    }
    .header-right {
        gap: 0;
    }
    .header__login-button,
    .header__logout-button,
    .header__mypage-button,
    .header__sell-button {
        padding: 4px 5px;
        height: auto;
        font-size: clamp(12px, 2vw, 16px);
        white-space: nowrap;
        line-height: 1.2;
    }

    .content {
        max-width: 95vw;
    }
    .form__group{
        width: 100%;
    }
    .form__red-button {
        width: 100%;
    }
}
/* スマートフォン幅用スタイル */
@media screen and (max-width: 767px) {
    .header {
        padding: 0;
        gap: 2px;
    }
    .header__logo {
        width: 80%;
        height: auto;
    }
    .header__search {
        height: auto;
        width: 90%;
    }
    .header__search-input {
        padding: 3px;
        font-size: clamp(10px, 2vw, 14px);
    }
    .header-right {
        gap: 0;
    }
    .header__login-button,
    .header__logout-button,
    .header__mypage-button,
    .header__sell-button {
        padding: 4px 3px;
        height: auto;
        font-size: clamp(10px, 2vw, 14px);
        white-space: nowrap;
        line-height: 1.2;
    }
    .header__sell-button {
        font-size: 10px;
    }
    .form__group{
        width: 100%;
    }
    .form__red-button {
        width: 100%;
    }
}
