html {
    overflow-y: scroll; /* 常にスクロールバーを表示 */
}
.header {
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left {
    margin-left: 20px;
    justify-content: flex-start;
}
.header__logo {
    height: 30px;
}

.header__search {
    width: 100%;
}
.header__search-input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
}

.header-right {
    margin-right: 20px;
    justify-content: flex-end;
    gap: 10px;
}
.header__logout {
    color: #ccc;
}
.header__login-button,
.header__logout-button,
.header__mypage-button {
    background-color: transparent;
    color: #ccc;
    border: none;
    cursor: pointer;
}
.header__mypage-button a {
    color: #ccc;
    text-decoration: none;
}
.header__sell-button {
    padding: 3px 7px;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.header__sell-button a {
    color: #000;
    text-decoration: none;
}

main {
    padding-top: 50px;
}
.content {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid yellowgreen;
}
.content__title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 22px;
}

/* PC幅用スタイル調整 */
@media (min-width: 1400px) and (max-width: 1540px) {
    .header,
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__search-input {
        width: 250px;
    }
}
/* タブレット幅用スタイル */
@media (min-width: 768px) and (max-width: 850px) {
    .header,
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__search-input {
        width: 150px;
    }

    .header__menu {
        gap: 10px;
    }
}

