.home-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__header {
    width: 80vw;
    padding-left: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 50px;
}
.home__header a {
    color: #5F5F5F;
    text-decoration: none;
}
.home__header h2 {
    margin: 0;
    font-size: 16px;
    line-height: 2;
    font: normal 700 clamp(16px, 5vw, 24px) "Inter", sans-serif;
}
.home__tab.active {
    color: #FF0000;
}
/* 水平線のスタイル */
.home__divider {
    width: 100vw;
    height: 1px; /* 線の太さ */
    border: none;
    background-color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    left: 0;
    margin-left: calc(-50vw + 50%);
}

.home__main {
    width: 80vw;
    max-width: 1230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: start;
}
.home__main p {
    white-space: nowrap;  /* 折り返しを防ぐ */
    width: auto;
}
.item-link {
    color: #000;
    text-decoration: none;
}
.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 290px;
    height: 310px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 5px;
}
.item-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-container.soldout
.item-image::after{
    content: 'Sold'; /* 表示するテキスト */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 中央に配置 */
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 102, 102, 0.5);
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* 画像の上に表示 */
    pointer-events: none; /* クリックを無効化 */
}
.item-name {
    width: 100%;
    /* font-size: 12px; */
    font-weight: bold;
    text-align: left;
    font: normal 400 clamp(17px, 5vw, 25px) "Inter", sans-serif;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
