.home-container {
    width: 80vw;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__header {
    width: 80vw;
    padding-left: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 50px;
}
.home__header a {
    color: #000;
    text-decoration: none;
}
.home__header h2 {
    margin: 0;
    font-size: 16px;
    line-height: 2;
}
.home__tab.active {
    color: #ff6666;
}
/* 水平線のスタイル */
.home__divider {
    width: 100vw;
    height: 1px; /* 線の太さ */
    border: none;
    background-color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
    left: 0;
    margin-left: calc(-50vw + 50%);
}

.item-link {
    color: #000;
    text-decoration: none;
}
.home__main {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    justify-items: start;
    justify-content: start;
    align-items: start;
}
.item-container {
    width: 150px;
    height: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-name {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
