.item-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.left-container {
    width: 50%;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid orange;
}
.item-image {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid red;
}
.item-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
.right-container {
    flex: 1;
    flex-direction: column;
    text-align: left;
    border: 1px solid green;
}
.item-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid yellow;
}
.item-brand {
    margin: 0;
    font-size: 10px;
    border: 1px solid pink;
}
.item-price span {
    font-size: 20px;
}
.purchase-button {
    width: 100%;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ff6666;
    color: #fff;
    border: none;
}

.item__title {
    margin-top: 30px;
    margin-bottom: 10px;
}
.item__info-table {
    width: 100%;
    margin: 0;
}
.item__info-table th,
.item__info-table td {
    text-align: left;
}
.info-table__title {
    width: 120px;
}
.info-table__category {
    background-color: #f0f0f0;
    width: 80px;
    padding: 3px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}

.comment-form__user {
    display: flex;
}
.user-icon {
}
.user-name {
}
.user-comment {
}
.comment-form__text-title {
    margin-top: 30px;
    margin-bottom: 0px;
}
.comment-form__textarea {
    width: 100%;
    height: 150px;
    border-radius: 3px;
}
.comment-form__button {
    width: 100%;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ff6666;
    color: #fff;
    border: none;
}
