.item-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.left-container {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
}
.item-image {
    width: 80%;
    aspect-ratio: 1 / 1;  /* 縦横比を1：1に維持 */
    margin-right: 50px;
    overflow: hidden;
    box-sizing: border-box;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-container {
    flex: 1;
    flex-direction: column;
    text-align: left;
}
.item-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}
.item-brand {
    margin: 0;
    font-size: 10px;
}
.item-price span {
    font-size: 20px;
}
.item-status {
    padding-left: 20px;
    margin-bottom: 15px;
    display: flex;
    gap: 40px;
}
.item-status img {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
}
.favorite-icon p,
.comment-icon p {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 0;
    text-align: center;
    font-size: 10px;
    box-sizing: border-box;
}
.favorite-form button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.purchase-button {
    margin-top: 0;
    width: 100%;
}

.item__title {
    margin-top: 30px;
    margin-bottom: 10px;
}
.item__info-table {
    width: 100%;
    margin: 0;
}
.item__info-table th,
.item__info-table td {
    text-align: left;
    padding: 5px;
}
.info-table__title {
    width: 120px;
    align-content: flex-start;
}
.info-table__category {
    background-color: #f0f0f0;
    width: 80px;
    margin: 0;
    margin-bottom: 5px;
    padding: 3px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}

.comment-form__list {
    margin-top: 0;
}
.user-container {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.user-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.default-icon {
    background-color: #f0f0f0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block; /* div を画像のように表示 */
}
.user-name {
    font-weight: bold;
}
.user-comment {
    background-color: #f0f0f0;
    margin-top: 0;
    padding: 5px;
}
.comment-form__text-title {
    margin-top: 30px;
    margin-bottom: 0px;
}
.comment-form__textarea {
    width: 100%;
    height: 150px;
    border-radius: 3px;
}
.comment-form__button {
    margin-top: 40px;
    width: 100%;
}

/* スマホ幅用スタイル */
@media screen and (max-width: 767px) {
    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .left-container,
    .right-container {
        width: 80%;
    }
}
