.sell-container {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sell-form {
    width: 80%;
}
.sell-component {
    margin-top: 30px;
    font-size: 18px;
    color: #777777;
    border-bottom: 1px solid #777777;
}
.sell-title {
    margin-bottom: 3px;
    font-size: 16px;
}
.sell-image {
    width: auto;
    padding: 5px;
    height: auto;
    min-height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px dotted #000;
}
.image-preview-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-preview-container img {
    width: auto;
    max-height: 200px;
    display: block;
}
.image-preview {
    max-width: 100%; /* 親要素に収まるように調整 */
    max-height: 200px;
    object-fit: cover;
    display: none;
    border: 1px solid #ccc;
}
.sell-image__button {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ff6666;
    color: #ff6666;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.sell-image__input {
    display: none;
}
.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.sell-category {
    display: inline-block;
    margin: auto 0;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 20px;
    color: #ff6666;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #ff6666;
}
.sell-category.selected {
    background-color: #ff6666;
    color: #fff;
    border-color: #ff6666;
}
.sell-brand,
.sell-select,
.sell-item-name,
.sell-description,
.sell-price {
    width: 100%;
    padding: 5px;
    resize: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.sell-select {
    cursor: pointer;
}
.sell-description {
    height: 90px;
}
.price-container {
    position: relative;
}
.price-container::before {
    content: "¥";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.sell-price {
    padding-left: 30px;
}
.sell-form__button {
    width: 100%;
    margin-top: 50px;
}
