.sell-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sell-form {
    width: 80%;
}
.sell-component {
    margin-top: 30px;
    font: normal 700 clamp(18px, 5vw, 30px) "Inter", sans-serif;
    color: #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
}
.sell-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font: normal 700 clamp(16px, 5vw, 24px) "Inter", sans-serif;
}
.sell-image {
    width: auto;
    padding: 5px;
    height: auto;
    min-height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px dotted #000;
}
.image-preview-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-preview-container img {
    width: auto;
    max-height: 200px;
    display: block;
}
.image-preview {
    max-width: 100%; /* 親要素に収まるように調整 */
    max-height: 200px;
    object-fit: cover;
    display: none;
    border: 1px solid #CCC;
}
.sell-image__input {
    display: none;
}
.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.sell-category {
    display: inline-block;
    margin: auto 0;
    padding: 5px 15px;
    background-color: transparent;
    color: #FF5655;
    font: normal 500 clamp(10px, 5vw, 15px) "Inter", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    border: 2px solid #FF5655;
}
.sell-category:hover {
    color: #FFF;
    background-color: #FF5655;
}
.sell-category.selected {
    background-color: #FF5655;
    color: #FFF;
    border-color: #FF5655;
}
.sell-brand,
.sell-select,
.sell-item-name,
.sell-description,
.sell-price {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    resize: none;
    color: #5F5F5F;
    font: normal 700 clamp(10px, 5vw, 16px) "Inter", sans-serif;
    border-radius: 3px;
    border: 1px solid #5F5F5F;
}
.sell-select {
    cursor: pointer;
}
.sell-description {
    height: 120px;
}
.price-container {
    position: relative;
}
.price-container::before {
    padding-left: 10px;
    content: "¥";
    font: normal 700 clamp(16px, 5vw, 24px) "Inter", sans-serif;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.sell-price {
    padding-left: 50px;
    font: normal 700 clamp(10px, 5vw, 16px) "Inter", sans-serif;
}
.sell-form__button {
    margin-top: 50px;
    width: 100%;
}

/* タブレット幅用スタイル */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .login-form__button {
        width: 100%;
    }
}
