html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
     /* ブラウザ全体でのスクロールを防ぐ */
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hamburger {
    display: none; /* PCでは非表示 */
    background: none;
    z-index: 1100;
    margin-right: 10px;
    border: none;
    font-size: 36px;
    color: #FFF;
    cursor: pointer;
}

.layout-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* サイドバー */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 260px;
    height: 100%;
    padding: 20px;
    overflow-y: auto; /* サイドバーだけ縦スクロール */
    background-color: #868686;
    color: #FFF;
}
.sidebar h3 {
    margin-top: 0;
    margin-bottom: 55px;
    font: 600 clamp(22px, 5vw, 30px) "Inter", sans-serif;
}
.sidebar__other-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    margin-bottom: 45px;
    background-color: #EEEFEB;
    border-radius: 5px;
    font: normal 400 clamp(16px, 5vw, 24px) "Inter", sans-serif;
}
.sidebar__other-order a {
    color: #000;
    text-decoration: none;
}
.sidebar__other-order:hover {
    background-color: #DDD;
    cursor: pointer;
}

main {
    flex: 1;
    margin: 0;
    padding: 0;
}
.chat-container {
    display: flex;
    width: 100%;
    height: calc(100% - 82px); /* ヘッダー分を引いた高さを指定 */
    min-height: 0;
    margin-top: 81px;
}

/* メインコンテンツ */
.main-area {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px 0 0;
}
.section-divider {
    margin: 20px 0;
    width: 100%;
    border: none;
    border-top: 2px solid #5F5F5F;
}

/* 取引相手情報 */
.user-info {
    flex-shrink: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 35px;
    gap: 15px;
}
.user-meta {
    display: flex;
    align-items: center;
    gap: 15px;
}
.user-icon,
.default-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-icon {
    object-fit: cover;
}
.default-icon {
    background-color: #D9D9D9;
    display: inline-block;
}
.trade-with-name {
    display: flex;
    white-space: nowrap;
    font: 700 clamp(24px, 5vw, 36px) "Inter", sans-serif;
}
.buyer-rate-button {
    margin-right: 40px;
    padding: 15px 20px;
    background-color: #FF8282;
    font: 700 clamp(12px, 5vw, 20px) "Inter", sans-serif;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.buyer-rate-button:hover {
    background-color: #FF5252;
}

/* スクロール領域 */
.scrollable-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch; /* iOS滑らかスクロール */
}

/* 取引商品情報 */
.item-area {
    display: flex;
    padding-left: 35px;
    gap: 40px;
}
.item-image-container {
    max-width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;  /* 縦横比を1：1に維持 */
    overflow: hidden;
    box-sizing: border-box;
}
.item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 30px 0 20px;
    box-sizing: border-box;
}
.item-name {
    margin: 0;
    font: 700 clamp(24px, 5vw, 48px) "Inter", sans-serif;
}
.item-price {
    margin: 0;
    font: 400 clamp(16px, 5vw, 36px) "Inter", sans-serif;
}
.price-tax {
    font: 400 clamp(8px, 5vw, 22px) "Inter", sans-serif;
}

/* チャット欄 */
.chat-area {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 20px;
    gap: 20px;
}
.chat-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.message-meta {
    display: flex; /* 横並びにする */
    align-items: center;
    max-width: 60%;
    gap: 25px;
}
.message-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #D9D9D9;
    object-fit: cover;
}
.chat-message.theirs {
    align-items: flex-start;
    text-align: left;
}
.chat-message.mine {
    align-items: flex-end;
    text-align: right;
}
.sender-name {
    font: 700 clamp(12px, 5vw, 20px) "Inter", sans-serif;
}
/* 送信済みチャット編集フォーム */
.edit-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 8px;
}
.edit-buttons,
.update-buttons {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 20px;
    margin-top: 0;
    padding-right: 10px;
    width: fit-content;
}
.edit-button,
.update-button,
.cancel-button,
.delete-button {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    color: #5F5F5F;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    font: 400 clamp(12px, 5vw, 15px) "Inter", sans-serif;
    border: none;
    cursor: pointer;
}
.edit-button:hover,
.update-button:hover {
    font-weight: 700;
}
.delete-button:hover,
.cancel-button:hover {
    color: #FF5252;
}
/* 送信済みチャット */
.message-bubble,
.message-edit-textarea {
    line-height: 1.4;
    margin-bottom: 0px;
    text-align: left;
    min-height: 1em;
    border-radius: 4px;
    font: 400 clamp(12px, 5vw, 20px) "Inter", sans-serif;
}
.message-bubble {
    max-width: 60vw;
    padding: 15px;
    background-color: #D9D9D9;
}
.message-edit-textarea {
    resize: none;
    display: block;
    align-self: flex-end;
    padding: 7px 10px;
    width: auto;
    min-width: 400px;
    max-width: 100%;
    max-height: 150px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
}
/* 送信済み画像 */
.chat-image {
    max-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;  /* 縦横比を1：1に維持 */
}

/* チャット送信フォーム部分 */
.message-send-form {
    flex-shrink: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0;
    padding-right: 45px;
    gap: 10px;
}
/* input内画像プレビュー */
.textarea-with-preview {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    min-width: 0;
    padding: 8px;
    gap: 8px;
}
.image-preview-wrapper {
    display: flex;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}
.preview-image {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}
.remove-image-button {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #CCC;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
}
.message-textarea {
    flex-grow: 1;
    outline: none;
    resize: none;
    padding: 5px 20px;
    width: 100%;
    min-height: auto;
    max-height: 150px;
    line-height: 1.4;
    font: 700 20px "Inter", sans-serif;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}
.send-button-wrapper {
    display: flex;
    align-items: center;
}
.image-send-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    height: 45px;
    border: 2px solid #FF5555;
    border-radius: 10px;
    color: #FF5555;
    font: 700 clamp(12px, 5vw, 20px) "Inter", sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.image-send-button:hover {
    background-color: #FF5555;
    color: #FFF;
}
.chat-image__input {
    display: none;
}
.message-send-button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
.message-send-button img {
    margin: 0;
    padding: 0;
    width: 80px;
    height: auto;
}
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.send-form__error-message{
    margin-left: 0;
    padding: 10px 0 0 15px;
    color: #FF5555;
    font: normal 400 clamp(10px, 5vw, 16px) "Inter", sans-serif;
}


@media (max-width: 1230px) {
    .hamburger {
        display: block;
    }

    /* サイドバーはデフォルト非表示にする */
    .sidebar {
        position: fixed;
        top: 82px; /* ヘッダーの下から */
        left: -100%;
        height: calc(90% - 82px);
        transition: left 0.3s ease;
        z-index: 1000;
    }
    /* 開いたとき */
    .sidebar.open {
        left: 0;
    }
    /* メインコンテンツは常に全幅使用 */
    .chat-container {
        flex-direction: column;
    }
}

@media (max-width: 864px) {
    .user-info {
        flex-direction: column;
        align-items: flex-start;
    }
    .user-meta {
        order: 2;
    }
    .buyer-rate-button {
        order: 1;  /* ボタン要素の順番を最初に変更 */
        align-self: flex-end;
        margin: 0 8px 0 0;
    }

    .message-textarea {
        line-height: 1.8;
        font-size: 16px;
    }
    .message-send-form {
        padding-right: 10px;
    }
}

@media (max-width: 580px) {
    .trade-with-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.4;
    }

    .item-area {
        padding-left: 15px;
        gap: 20px;
    }
    .item-image-container {
        max-width: 150px;
    }

    .message-edit-textarea {
        width: auto;
        min-width: 250px;
        max-width: 100%;
    }

    .message-send-form {
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .textarea-with-preview {
        width: 100%;
        margin-top: 0;
    }
    .send-button-wrapper {
        order: -1; /* 上段に移動 */
        display: flex;
        justify-content: flex-end;
        align-self: flex-end; /* 右寄せ */
        width: fit-content;
        gap: 10px;
        margin-bottom: 0;
    }
    .image-send-button {
        padding: 3px 7px;
        height: 40px;
        font-size: 16px;
    }
    .message-send-button img {
        width: 50px;
        height: auto;
    }
    .error-container {
        order: -2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        gap: 5px;
    }
    .send-form__error-message{
        margin-left: 0;
        text-align: left;
    }
}
