
.item-image {
    max-width: 200px;
    height: auto;
    aspect-ratio: 1 / 1;  /* 縦横比を1：1に維持 */
    margin-right: 50px;
    overflow: hidden;
    box-sizing: border-box;
}
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.default-icon {
    background-color: #D9D9D9;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block; /* div を画像のように表示 */
}

.chat-message {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
}
.chat-message.mine {
    justify-content: flex-end;
    text-align: right;
}
.chat-message.theirs {
    justify-content: flex-start;
    text-align: left;
}

/* .sell-image {
    width: auto;
    padding: 5px;
    height: auto;
    min-height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px dotted #000;
} */
.image-preview-container {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-preview-container img {
    width: auto;
    max-height: 200px;
    display: block;
}
.image-preview {
    max-width: 100%; /* 親要素に収まるように調整 */
    max-height: 200px;
    object-fit: cover;
    display: none;
    border: 1px solid #CCC;
}
.sell-image__input {
    display: none;
}
.message-send-button {
    width: 80px;
    height: auto;
}
