.item-container {
    width: 80%;
    margin: 0;
    display: flex;
    box-sizing: border-box;

    border: 1px solid pink;  /* デバッグ用 */
}
.left-container {
    width: 60%;
    padding-right: 30px;
    align-items: center;
}
.left-container h3 {
    font-size: 16px;
}
.detail-container {
    display: flex;
}
.item-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-sizing: border-box;
}
.item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.item-detail {
    margin-left: 20px;
}
.item-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}
.item-brand {
    margin: 0;
    font-size: 10px;
}
.item-price span {
    font-size: 20px;
}
.item__title {
    margin-top: 30px;
    margin-bottom: 10px;
}
.page-line {
    margin-top: 30px;
    margin-bottom: 20px;
}
.parts-title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.payment-container,
.delivery-detail {
    margin-left: 50px;
    margin-top: 20px;
}
.pay-select {
    width: 60%;
    padding: 3px;
    border-radius: 3px;
}
.delivery-container {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.delivery-container h3,
.delivery-container form {
    margin: 0;
    padding: 0;
}
.delivery-detail p {
    margin: 0;
}
.change-address-button {
    margin-right: 30px;
    border: none;
    background-color: transparent;
}

/* 右側 */
.right-container {
    flex: 1;
    flex-direction: column;
    text-align: left;
}
.confirmation-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
.confirmation-table tr {
    border: 1px solid #000;
}
.confirmation-table th,td {
    padding: 30px 20px;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
}
.purchase-button {
    width: 100%;
    margin-top: 40px;
}

/* タブレット幅用スタイル */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-container {
        width: 100%;
    }
    .confirmation-table th,td {
    padding: 30px 10px;
    text-align: center;
    font-weight: 400;
}
}
/* スマホ幅用スタイル */
@media screen and (max-width: 767px) {
    .item-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .left-container,
    .right-container {
        width: 80%;
    }
    .pay-select {
        width: 80%;
    }
}
