.item-container {
    width: 80vw;
    display: flex;
}
.left-container {
    width: 70%;
    align-items: center;
    border: 1px solid orange;
}
.detail-container {
    display: flex;
}
.item-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-sizing: border-box;
}
.item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.item-detail {
    margin-left: 20px;
}
.item-name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}
.item-brand {
    margin: 0;
    font-size: 10px;
}
.item-price span {
    font-size: 20px;
}
.item__title {
    margin-top: 30px;
    margin-bottom: 10px;
}
.delivery {
    display: flex;
    justify-content: space-between;
}
.delivery a {
    font-display: none;
}

.right-container {
    flex: 1;
    flex-direction: column;
    text-align: left;
}
.purchase-button {
    width: 100%;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ff6666;
    color: #fff;
    border-radius: 3px;
    border: none;
}
