.item-container {
    width: 80%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
}
.left-container {
    width: 60%;
    padding-right: 30px;
    align-items: center;
}
.detail-container {
    display: flex;
}
.item-image {
    width: 170px;
    height: 170px;
    overflow: hidden;
    box-sizing: border-box;
}
.item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.item-detail {
    margin-left: 20px;
}
.item-name {
    margin: 0;
    box-sizing: border-box;
    font: normal 700 clamp(18px, 50vw, 30px) "Inter", sans-serif;
}
.item-price {
    font: normal 400 clamp(16px, 50vw, 27px) "Inter", sans-serif;
}
.item-price span {
    font: normal 400 clamp(20px, 50vw, 32px) "Inter", sans-serif;
}

.page-line {
    margin-top: 30px;
    margin-bottom: 20px;
}
.parts-title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 700 clamp(12px, 5vw, 20px) "Inter", sans-serif;
}
.payment-container,
.delivery-detail {
    margin-left: 50px;
    margin-top: 20px;
}
.pay-select {
    width: 60%;
    padding: 3px;
    border-radius: 3px;
    color: #5F5F5F;
    border: 1px solid #5F5F5F;
}
.delivery-container {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.delivery-container h3,
.delivery-container form {
    margin: 0;
    padding: 0;
}
.delivery-detail span,
.delivery-detail input[readonly] {
    margin: 0;
    border: none;
    user-select: none; /* 選択不可にする */
    pointer-events: none; /* ポインタ操作を無効にする */
    font: normal 600 clamp(12px, 50vw, 20px) "Inter", sans-serif;
}
.change-address-button {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    font: normal 400 clamp(12px, 50vw, 20px) "Inter", sans-serif;
}

/* 右側 */
.right-container {
    flex: 1;
    flex-direction: column;
    text-align: left;
}
.confirmation-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
.confirmation-table tr {
    border: 1px solid #000;
}
.confirmation-table th, td {
    padding: 30px 20px;
    text-align: center;
    white-space: nowrap;
}
.confirmation-table th {
    font: normal 400 clamp(12px, 50vw, 20px) "Inter", sans-serif;
}
.confirmation-table td {
    font: normal 400 clamp(14px, 50vw, 24px) "Inter", sans-serif;
}
.confirmation-table td span {
    font: normal 400 clamp(16px, 50vw, 28px) "Inter", sans-serif;
}
.purchase-button {
    width: 100%;
    margin-top: 40px;
}

/* タブレット幅用スタイル */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-container {
        width: 100%;
    }
    .confirmation-table th,td {
    padding: 30px 10px;
    text-align: center;
    font-weight: 400;
}
}
/* スマホ幅用スタイル */
@media screen and (max-width: 767px) {
    .item-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .left-container,
    .right-container {
        width: 80%;
    }
    .pay-select {
        width: 80%;
    }
}
